body {
 background-color:skyblue;
 font-family: cursive;

}

img {
 width: 150px;
 height: 150px;
 border-radius: 50%;
}
button{
  background-color: goldenrod;
  color: navy;
  font-size: 30px;
  border: groove navy 5px;
  border-radius: 50px;
  cursor: pointer;
  padding: 30px;
}
button:hover{
  background-color: aliceblue;
  color: rgb(14, 4,40);
}
.container{
  background-color: rgb(13, 62,78);
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  border-radius: 50px;
}
li{
  font-size: 35px;
  color: azure;
}
.container:hover{
  background-color: aquamarine;
}